.listing {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    width: max-content;
    padding: 25px;
}

.listing ul > li {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    padding: 5px;
    list-style: none;
    display: flex;
    
}
